* {
    margin: 0;
    padding: 0;
    font-family: 'Song Myung', serif;

}
body {
    width: 100%;
    height: 100%;
    background-color: rgb(203, 231, 255);

}

#formWindow {
    width: 500px;
    height: 400px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: rgb(103, 177, 238);
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 20px;
    color: white;


}
label {
    font-size: 24px;
    color: white;
}
input {
    font-size: 20px;
    color: rgb(8, 49, 83);
}
#radio {
    color: white;
}
.button {
    width: auto;
    font-size: 21px;
    padding: 10px;
    margin: 15px;
    color: rgb(8, 49, 83);
    text-decoration: none;
    background-color: rgb(203, 231, 255);
    border-radius: 5px;
    border: 2px black solid;
    cursor: pointer;
    display: inline-block;
}
#ispis {
    display: block;
    font-size: 25px;
    margin: 15px;
}